rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /States/{StateId} {
      // Allow anyone to read the states and districts list
      allow read: if true;
      // No one can modify the states and districts list
      allow write: if false;
    }
    match /Hospitals/{HospitalId} {
      // Dont allow listing more than 25 hospitals at a time.
      // As we will be looking for hospitals with free beds, this should be fine.
      allow read: if request.query.limit <= 25;
      // Add or remove hospitals only using admin scripts.
      allow create, delete: if false;
      // Only allow authorised users to update the hospital info for their respective hospital.
      // Inturn restrict them to update only the free beds data and nothing else.
      // Maybe add request.auth.token.email_verified, so that in case I forget and provide
      // access to any user(id) even if they have not had their email verified, the system
      // will trap it.
      allow update: if request.auth != null
                    && get(/databases/$(database)/documents/HospitalsExtra/$(request.resource.id)).data.AdminId == request.auth.uid
                    && request.resource.id == HospitalId
                    && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['BedsICU', 'BedsNormal', 'BedsVntltr', 'TimeStamp']);
    }
    match /HospitalsExtra/{HospitalId} {
      // Hospital admin authorisation controlled manualy using admin scripts
      // and not from any web/mobile app.
      // && request.auth.token.email_verified == true;
      // Is this && request.resource.data.AdminId == request.auth.uid; less secure than below
      allow read: if request.auth != null
                  && resource.data.AdminId == request.auth.uid;
      allow write: if false;
    }
  }
}
